body {
  background-position: center center;
  background-color: #d8d8d8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.col.s6 > .btn {
  width: 100%;
}
.container {
  background: white;
  padding: 20px 25px;
  border: 5px solid #26a69a;
  width: 550px;
  height: auto;
  box-sizing: border-box;
  position: relative;
}
.container {
  animation: showUp 0.5s cubic-bezier(0.18, 1.3, 1, 1) forwards;
}

@keyframes showUp {
  0% {
    transform: scale(0);
  }
  100% {
    transoform: scale(1);
  }
}
.row {
  margin-bottom: 10px;
}

.ngl {
  position: absolute;
  top: -20px;
  right: -20px;
}
