<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
    ></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"
    ></script>

    <script>
      var stock_data_endpoint =
        "{% url 'stock_data_endpoint' stock_ticker=stock_ticker %}";
      var insert_message_endpoint = "{% url 'insert_message' %}";
      var stock_ticker = "{{ stock_ticker }}";
      var username = "{{ request.user.username }}";
      var message_count = parseInt(" {{ messages|length }} ");
    </script>
    {% load static %}
  </head>
  <body scroll="no" style="overflow: hidden">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
    {{ request.user.username|json_script:"chatter_username" }}
    <nav class="teal lighten-2">
      <div class="nav-wrapper">
        <a href="{% url 'index' %}" class="brand-logo">StockChamp</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <div class="input-field">
              <input
                id="search-bar"
                type="search"
                placeholder="Find a stock ticker"
                required
              />
              <label class="label-icon" for="search"
                ><i class="material-icons">search</i></label
              >
              <i class="material-icons">close</i>
            </div>
          </li>
          <li><a href="{% url 'index' %}">Main page</a></li>
          <li class="active">
            <a href="{% url 'dashboard' stock_ticker='AAPL' %}">Dashboard</a>
          </li>
          {% if user.is_superuser %}
          <li><a href="/admin/">Admin</a></li>
          {% endif %} {% if user.is_authenticated %}
          <li><a href="{% url 'profile' %}">Profile</a></li>
          <li><a href="{% url 'logout' %}">Log out</a></li>
          {% else %}
          <li><a href="{% url 'login' %}">Log in</a></li>
          <li><a href="{% url 'register' %}">Register</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <script src="{% static 'js/navbar.js' %}"></script>

    <div class="row">
      <div class="col s10" , id="dashboardChart">
        <script src="{% static 'js/main.js' %}"></script>
        <svg id="container"></svg>
      </div>
      <div
        class="col s2"
        style="overflow-y: scroll; height: calc(100vh - 250px)"
        id="chatDiv"
      >
        {% for msg in messages %} {% if forloop.counter|divisibleby:2 %}
        <div style="margin: 0; background-color: #f5f5f5">
          <a class="modal-trigger" href="#userModal"
            >{{ msg.fk_user.username }}</a
          >: {{ msg.text }}
        </div>
        {% else %}
        <div style="margin: 0; background-color: #fff">
          <a class="modal-trigger" href="#userModal"
            >{{ msg.fk_user.username }}</a
          >: {{ msg.text }}
        </div>
        {% endif %} {% endfor %}
        <div style="margin: 0; background-color: #f5f5f5"></div>
        <script src="{% static 'js/chat.js' %}"></script>
      </div>
      <div class="row">
        <!--todo: bit fucked formatting -->
        <div class="col s2">
          {% if not user.is_authenticated %}
          <textarea class="materialize-textarea" disabled></textarea>
          {% else %}
          <textarea id="chatMessage" class="materialize-textarea"></textarea>
          {% endif %}

          <label for="chatMessage">Send a message</label>
        </div>
      </div>
      <!--BOTTOM BAR-->
      <div class="row valign-wrapper">
        <div class="col s2 right-align">
          <p style="display: inline">
            {{ company_name }} <b>{{ stock_ticker }}</b>
          </p>
        </div>
        <div class="col s1">
          <!–– TODO check if user is following already -->
          {% if not user.is_authenticated %}
          <button
            class="btn btn-medium btn-register waves-effect waves-light"
            type="submit"
            name="action"
            disabled
          >
            <i class="material-icons">add</i>
          </button>
          {% else %}
          <button
            class="btn btn-medium btn-register waves-effect waves-light"
            type="submit"
            name="action"
          >
            <i class="material-icons">add</i>
          </button>
          {% endif %}
        </div>
        <div class="col s1 left-align">
          <a href="{% url 'stock_news_list' stock_ticker=stock_ticker %}"
            >Recent News</a
          >
        </div>
        <div class="col s7"></div>
        <div class="col s2 right-align">
          {% if not user.is_authenticated %}
          <button
            class="btn btn-medium btn-register waves-effect waves-light"
            type="submit"
            name="action"
            disabled
          >
            <i class="material-icons keyboard_return">send</i>
          </button>
          {% else %}
          <button
            class="btn btn-medium btn-register waves-effect waves-light"
            type="submit"
            id="submitMessage"
            name="action"
          >
            <i class="material-icons keyboard_return">send</i>
          </button>
          {% endif %}
        </div>
      </div>
    </div>

    <div id="userModal" class="modal">
      <p class="user_modal_name"></p>
      <div class="modal-content"></div>
      {% if user.is_staff %}
      <div class="row">
        <div class="col s2">
          <button
            class="btn btn-medium waves-effect waves-light"
            type="submit"
            name="action"
            style="width: 100%"
          >
            Ban
          </button>
        </div>
        <div class="col s2">
          <button
            class="btn btn-medium waves-effect waves-light"
            type="submit"
            name="action"
            style="width: 100%"
          >
            Give VIP
          </button>
        </div>
      </div>
      {% endif %}

      <div class="modal-footer">
        <a
          href="#!"
          class="modal-action modal-close waves-effect waves-green btn-flat"
          >Close</a
        >
      </div>
    </div>
    <script>
      function addModals() {
        var doc = document;
        var anchors = doc.getElementsByTagName("a");

        if (anchors) {
          for (var i = 0; i < anchors.length; i++) {
            anchors[i].addEventListener("click", function (event) {
              if (event.target.className == "modal-trigger") {
                var elem = document.querySelector(".modal");
                var options = {};
                var instance = new M.Modal(elem, options);
                var data = { username: event.target.innerHTML };
                $.ajax({
                  url: "/user_endpoint",
                  type: "GET",
                  data: data,
                  dataType: "json",
                  success: function (resp) {
                    $(".modal-content").html(resp.html);
                  },
                });
              }
            });
          }
        }
      }
      addModals();
    </script>
    {{ room_name|json_script:"room-name" }}
    <script>
      const roomName = JSON.parse(
        document.getElementById("room-name").textContent
      );
      const chatSocket = new WebSocket(
        "ws://" + window.location.host + "/ws/chat/" + roomName + "/"
      );

      chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        if (
          data.message.length == 0 ||
          (data.message.includes("\n") && data.message.length == 1)
        ) {
          return;
        }
        username = JSON.parse(
          document.getElementById("chatter_username").textContent
        );
        newMessageHtml = '<div style="margin: 0; background-color: #fff">';
        if (message_count % 2 != 0) {
          newMessageHtml = '<div style="margin: 0; background-color: #f5f5f5">';
        }
        newMessageHtml +=
          '<a class="modal-trigger" href="#userModal">' +
          data.username +
          "</a>: " +
          data.message +
          "</div>";
        document.querySelector("#chatDiv").innerHTML += newMessageHtml;
        message_count += 1;
        console.log(message_count);
        updateScroll();
        addModals();
      };

      chatSocket.onclose = function (e) {
        console.error("Chat socket closed unexpectedly");
      };

      document.querySelector("#chatMessage").focus();
      document.querySelector("#chatMessage").onkeyup = function (e) {
        if (e.keyCode === 13) {
          // enter, return
          document.querySelector("#submitMessage").click();
        }
      };

      document.querySelector("#submitMessage").onclick = function (e) {
        const messageInputDom = document.querySelector("#chatMessage");
        const message = messageInputDom.value;
        chatSocket.send(
          JSON.stringify({
            message: message,
          })
        );
        messageInputDom.value = "";
        $.ajax({
          url: insert_message_endpoint,
          type: "POST",
          data: {
            stock_ticker: stock_ticker,
            msg: message,
            csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
          },
          success: function (data) {},
        });
      };
    </script>
  </body>
</html>
