<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stock news</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <nav class="teal lighten-2">
      <div class="nav-wrapper">
        <a href="{% url 'index' %}" class="brand-logo">StockChamp</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <div class="input-field">
              <input
                id="search-bar"
                type="search"
                placeholder="Find a stock ticker"
                required
              />
              <label class="label-icon" for="search"
                ><i class="material-icons">search</i></label
              >
              <i class="material-icons">close</i>
            </div>
          </li>
          <li><a href="{% url 'index' %}">Main page</a></li>
          <li>
            <a href="{% url 'dashboard' stock_ticker='AAPL' %}">Dashboard</a>
          </li>
          {% if user.is_superuser %}
          <li><a href="/admin/">Admin</a></li>
          {% endif %} {% if user.is_authenticated %}
          <li><a href="{% url 'profile' %}">Profile</a></li>
          <li><a href="{% url 'logout' %}">Log out</a></li>
          {% else %}
          <li><a href="{% url 'login' %}">Log in</a></li>
          <li><a href="{% url 'register' %}">Register</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% load static %}
    <script src="{% static 'js/navbar.js' %}"></script>

    <div class="container">
      <h5><b>{{ stock_ticker }}</b> news</h5>
      <div class="row">
        {% for news in news_list %}
        <div class="col s3">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{ news.headline }}</span>
              <p>{{ news.timestamp }}</p>
            </div>
            <div class="card-action">
              <a href="{{ news.link }}">Read more</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
