<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ticker list</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <nav class="teal lighten-2">
      <div class="nav-wrapper">
        <a href="{% url 'index' %}" class="brand-logo">StockChamp</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <div class="input-field">
              <input
                id="search-bar"
                type="search"
                placeholder="Find a stock ticker"
                required
              />
              <label class="label-icon" for="search"
                ><i class="material-icons">search</i></label
              >
              <i class="material-icons">close</i>
            </div>
          </li>
          <li><a href="{% url 'index' %}">Main page</a></li>
          <li>
            <a href="{% url 'dashboard' stock_ticker='AAPL' %}">Dashboard</a>
          </li>
          {% if user.is_superuser %}
          <li><a href="/admin/">Admin</a></li>
          {% endif %} {% if user.is_authenticated %}
          <li><a href="{% url 'profile' %}">Profile</a></li>
          <li><a href="{% url 'logout' %}">Log out</a></li>
          {% else %}
          <li><a href="{% url 'login' %}">Log in</a></li>
          <li><a href="{% url 'register' %}">Register</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% load static %}
    <script src="{% static 'js/navbar.js' %}"></script>

    <div class="container">
      <h4>Trending stocks</h4>
      <input
        type="text"
        id="filterName"
        onkeyup="nameFilter()"
        placeholder="Search for a stock"
      />
      <table id="tickerTable">
        <thead>
          <tr>
            <th>Company</th>
            <th>Ticker</th>
            <th>Market</th>
            <th>Price</th>
            <th>Change</th>
            <th>Viewers</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>GameStop</td>
            <td><a href="{% url 'dashboard' stock_ticker='AAPL' %}">GME</a></td>
            <td>NYSE</td>
            <td>250.65</td>
            <td>5.3%</td>
            <td>150</td>
          </tr>
          <tr>
            <td>TeleDoc Health</td>
            <td>
              <a href="{% url 'dashboard' stock_ticker='AAPL' %}">TDOC</a>
            </td>
            <td>NYSE</td>
            <td>170.44</td>
            <td>2.3%</td>
            <td>50</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
  <script>
    function nameFilter() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("filterName");
      filter = input.value.toUpperCase();
      table = document.getElementById("tickerTable");
      tr = table.getElementsByTagName("tr");

      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
  </script>
</html>
