<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log in</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}" />
  </head>
  <body>
    
    <div class="container">
      {% for message in messages %}
      <p>{{message}}</p>
      {% endfor %}
      <div class="row">
        <form method="POST" class="col s12" id="reg-form">
          {% csrf_token %}
          <div class="row">
            <div class="input-field col s12">
              Username
              <input type="text" name="username" />
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              Password
              <input type="password" name="password" />
            </div>
          </div>
          <div class="row">
            <div class="input-field center-align">
              <button
                class="btn btn-large btn-register waves-effect waves-light"
                type="submit"
                name="action"
              >
                Log in
              </button>
            </div>
            {{form.errors}}
            <div class="center-align">
              Don't have an account? <a href="{% url 'register' %}">Sign up</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
