{% comment %} {% extends 'stock_site/index.html'%} {% endcomment %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <form method="POST" class="col s12" id="reg-form">
          {% csrf_token %}
          <div class="row">
            <div class="col s6">{{form.username.label}} {{form.username}}</div>
            <div class="col s6">{{form.email.label}} {{form.email}}</div>
          </div>
          <div class="row">
            <div class="col s12">
              {{form.password1.label}} {{form.password1}}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              {{form.password2.label}} {{form.password2}}
            </div>
          </div>
          <div class="row">
            <div class="input-field center-align">
              <button
                class="btn btn-large btn-register waves-effect waves-light"
                type="submit"
                name="action"
              >
                Register
                <i class="material-icons right">done</i>
              </button>
            </div>
          </div>
        </form>
        {{form.errors}}
      </div>
      <a
        title="Login"
        href="/login"
        class="ngl btn-floating btn-large waves-effect waves-light red"
        ><i class="material-icons">input</i></a
      >
    </div>
  </body>
</html>
